<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hello.</h1>
      <h3 class="section-subheading">I studied engineering.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm a former engineering student</strong> learning new and exciting technologies, every day.</p>
          <p class="about-text">I love learning and keeping up with the latest advances in the tech field.</p>
          <p class="about-text"><strong>In my free time</strong> I'm most likely watching the next hit TV series on some streaming service somewhere, or breaking into a new book.</p>
        </div>
      </div>
    </div>
  </div>
</section>
